/*
    This file is part of Magnum.

    Copyright © 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018
              Vladimír Vondruš <mosra@centrum.cz>

    Permission is hereby granted, free of charge, to any person obtaining a
    copy of this software and associated documentation files (the "Software"),
    to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the
    Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included
    in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.
*/

/* .mn-container        makes the canvas occupy the whole page width
   .mn-sizer            centers it
   .mn-expander         does aspect ratio preservation
   .mn-listener         snaps to .mn-expander edges
   .mn-listener::before does the border, which finally goes below the canvas */
.m-container-inflatable > .m-row > [class*='m-col-'] > .mn-container:not(.mn-fullsize) {
  margin: 1rem -1rem 1rem -1rem;
}
/* TODO: use the same console wrap as in m.css */
.mn-sizer {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 640px;
}
.mn-expander {
  position: relative;
}
.mn-listener {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mn-listener::before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.2rem; /*var(--border-radius)*/
  border-color: #405363; /*var(--line-color)*/
}

/* Canvas size and aspect ratio knobs. The fullsize is done using a fixed
   position instead of absolute because there are other relative-positioned
   elements up the hierarchy (m.css grid layout) and so that wouldn't work.
   It's also done in a way that makes the top navbar (and the dropdowns) still
   visible. */
.mn-container.mn-fullsize {
  position: fixed;
  z-index: 10; /* navbar dropdowns have 99999 */
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  /* TODO fix the canvas to not be semitransparent with alpha blending */
  background-color: #2f363f; /*var(--background-color)*/
}
.mn-container.mn-fullsize .mn-sizer, .mn-container.mn-fullsize .mn-expander {
  width: 100%; height: 100%;
}

.mn-container.mn-width-240 .mn-sizer { width: 240px; }
.mn-container.mn-width-320 .mn-sizer { width: 320px; }
.mn-container.mn-width-360 .mn-sizer { width: 360px; }
.mn-container.mn-width-480 .mn-sizer { width: 480px; }
.mn-container.mn-width-600 .mn-sizer { width: 600px; }
.mn-container.mn-width-640 .mn-sizer, .mn-container .mn-sizer {
  width: 640px; /* default */
}
.mn-container.mn-width-800 .mn-sizer { width: 800px; }
.mn-container.mn-width-960 .mn-sizer { width: 960px; }
.mn-container.mn-width-1024 .mn-sizer { width: 1024px; }
.mn-container.mn-width-1280 .mn-sizer { width: 1280px; }

.mn-container.mn-aspect-1-1 .mn-expander { padding-bottom: 100%; }
.mn-container.mn-aspect-4-3 .mn-expander,
.mn-container:not(.mn-fullsize):not([class*='mn-aspect-']) .mn-expander {
  padding-bottom: 75%; /* default */
}
.mn-container.mn-aspect-3-4 .mn-expander { padding-bottom: 133.3333%; }
.mn-container.mn-aspect-3-2 .mn-expander { padding-bottom: 66.6667%; }
.mn-container.mn-aspect-2-3 .mn-expander { padding-bottom: 150%; }
.mn-container.mn-aspect-16-10 .mn-expander { padding-bottom: 62.5%; }
.mn-container.mn-aspect-16-9 .mn-expander { padding-bottom: 56.25% }
.mn-container.mn-aspect-10-16 .mn-expander { padding-bottom: 160%; }
.mn-container.mn-aspect-9-16 .mn-expander { padding-bottom: 177.7778% }
.mn-container.mn-aspect-2-1 .mn-expander { padding-bottom: 50%; }
.mn-container.mn-aspect-1-2 .mn-expander { padding-bottom: 200%; }

.mn-canvas, pre#log {
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 0.2rem; /*var(--border-radius)*/
}
.mn-canvas {
  margin-bottom: -0.25rem; /* otherwise there's scrollbar w/ fullsize (why?) */
}
.mn-container.mn-fullsize .mn-canvas:focus {
  outline-width: 0;
}
.mn-status, .mn-status-description {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9;
}
.mn-status {
  top: 10%;
  font-size: 1.5rem;
  font-weight: 600;
}
.mn-status-description {
  top: 22.5%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mn-canvas.mn-hidden {
  display: none;
}
pre.mn-log {
  font-size: 0.8rem; /* so 80 columns fits into 640 pixels */
}

/* kate: indent-width 2; */
